/*! COLORS*/
:root {
    --icons: rgb(145, 139, 139);
    --top_bg: #00A884;
    --bottom_bg: #DBDBD3;
    --light_blue: #8EDAFC;
    --thin_gray: rgb(234, 234, 234);
}


/**utilities**/

h6 {
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.w-gray {
    color: var(--icons);
    font-weight: 100;
    font-size: 14px;
}

/*! CHAT UTILITIES */

.message {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: 25%;
    border-radius: 10px;
    word-wrap: break-word;
}

.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.received {
    align-self: flex-start;
    background-color: #ffffff;
}

.sended-date {
    color: rgb(163, 154, 154);
    font-size: 12px;
    font-weight: 100;
    align-self: flex-end;
}

.last-date {
    text-align: end;
    color: rgb(163, 154, 154);
    font-size: 13px;
    font-weight: 200;
}

/*! Icons */
.fa-gray {
    color: var(--icons);
    cursor: pointer;
}

.fa-gray:hover {
    color: rgba(16, 165, 16, 0.589);
}

.fa-blue {
    color: var(--light_blue);
}

/* BACKGROUNG */
.linear-bg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--top_bg) 12%, var(--bottom_bg) 12%);
}

/* MAIN */

.main-page {
    width: 80vw;
    height: 90vh;
}

/* LEFT SIDE */

.left-navbar {
    height: 100%;
    width: 35%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.navbar-h {
    height: 7%;
    width: 100%;
    background-color: var(--thin_gray);
    position: sticky;
    z-index: 1;
}

.navbar-alert {
    height: 10%;
    width: 100%;
    background-color: var(--light_blue);
    position: sticky;
    z-index: 1;
}

.contacts-search {
    width: 100%;
    height: 5%;
    position: sticky;
    z-index: 1;
}


.contacts-list {
    max-height: 78%;
    width: 100%;
    overflow-y: auto;
}

.contacts-list .col-12 {
    height: 80px;
}

.contacts-list .col-12:hover {
    background-color: rgba(103, 118, 126, 0.404);
}

.contacts-list .col-12:active {
    background-color: rgba(131, 133, 134, 0.404);
}

/* RIGHT SIDE */

.main-content {
    height: 100%;
    width: 65%;
    background-color: rgba(0, 255, 85, 0.384);
    position: relative;
}

.content-h {
    border-left: 1px solid rgb(211, 208, 208);
    height: 7%;
    width: 100%;
    background-color: var(--thin_gray);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.conversation {
    height: calc(100% - 14%);
    width: 100%;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.conversation-input {
    height: 7%;
    width: 100%;
    background-color: var(--thin_gray);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}