<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWSONE-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--stylesheet-->
    <link rel="stylesheet" href="css/style.css">
    <!--Vue JS-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>
        BoolZapp
    </title>
</head>

<body>
    <div id="root" class="container-fluid linear-bg d-flex justify-content-center align-items-center">
        <div class="main-page d-flex">

            <!--LEFT SIDE-->
            <div class="left-navbar">
                <div class="navbar-h p-3 d-flex justify-content-between">
                    <div class="user-info h-100 gap-2 d-flex align-items-center ">
                        <img class="profile-pic pointer" src="img/avatar_io.jpg" alt="">
                        <h5>Ali Chouchene</h5>
                    </div>
                    <div class="user-settings d-flex gap-3 align-items-center">
                        <i class="fa-solid fa-circle-notch fa-xl fa-gray"></i>
                        <i class="fa-solid fa-message fa-xl fa-gray"></i>
                        <i class="fa-solid fa-ellipsis-vertical fa-xl fa-gray"></i>
                    </div>
                </div>
                <div class="navbar-alert">
                    <div class="alert-info p-4 h-100 d-flex gap-3 align-items-center">
                        <div class="profile-pic d-flex justify-content-between align-items-center bg-light">
                            <i class="fa-solid fa-bell-slash fa-blue ms-2 fa-xl"></i>
                        </div>
                        <div class="contact-infos">
                            <h5 class="m-0">Ricevi notifiche di nuovi messaggi</h5>
                            <a class="fa-gray m-0" href="#"> Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>
                <div class="contacts-search">
                    <div class="input-group">
                        <span class="input-group-text rounded-0 pointer">
                            <i class="fa-solid fa-magnifying-glass fa-gray"></i>
                        </span>
                        <input type="text" class="form-control rounded-0 " placeholder="Cerca o inizia una chat">
                    </div>
                </div>
                <div class="row contacts-list g-4 m-0 ">
                    <div v-for="(contact, i) in contacts"
                        class="col-12 align-content-start m-0 py-4 px-4 d-flex justify-content-between">
                        <div class="contacted h-100 d-flex gap-3 align-items-center">
                            <div class="contact-pic">
                                <img class="profile-pic" src='img/avatar_1.jpg' alt="">
                            </div>
                            <div class="contact-infos">
                                <h5 class="m-0">{{ contact.name }}</h5>

                                <!----DA SISTEMARE PERCHE PRENDE L' ULTIMO MESSAGGIO-->
                                <p class="fa-gray m-0">Ultimo accesso oggi alle {{ contact.messages[1].date }}</p>
                            </div>
                        </div>
                        <div class="last-date w-50">{{ contact.date }}</div>
                    </div>
                </div>
            </div>
            <!--RIGHT SIDE-->

            <div class="main-content">
                <div class="content-h p-4 d-flex justify-content-between">
                    <div class="contacted h-100 d-flex gap-3 align-items-center">
                        <div class="contact-pic">
                            <img class="profile-pic" src="img/avatar_1.jpg" alt="">
                        </div>
                        <div class="contact-infos">
                            <h5 class="m-0">Max</h5>
                            <p class="fa-gray m-0">Ultimo accesso oggi alle</p>
                        </div>
                    </div>
                    <div class="chat-options d-flex gap-3 align-items-center">
                        <i class="fa-solid fa-magnifying-glass fa-xl fa-gray"></i>
                        <i class="fa-solid fa-paperclip fa-xl fa-gray"></i>
                        <i class="fa-solid fa-ellipsis-vertical fa-xl fa-gray"></i>
                    </div>
                </div>
                <div class="conversation">
                    <div class="container p-5">
                        <div class="row g-2 flex-column p-3">

                            <!-- <div v-for="message in contacts.messages" class=" "
                            :class="{'sended col-12 message' : message.status === 'sent'} ">
                            ciaonjrnrymnrmnrmnrm<span class="sended-date">12/01/2023
                                15:09</span></div>
                        <div :class="{'recevied col-12 message' : message.status === 'received'} ">>ciao<span
                                class="sended-date">12/01/2023
                                15:09</span></div> -->

                            <div class="message sended col-12">ciaonjrnrymnrmnrmnrm<span class="sended-date">12/01/2023
                                    15:09</span></div>
                            <div class="message recevied col-12">ciao<span class="sended-date">12/01/2023
                                    15:09</span></div>

                        </div>
                    </div>


                </div>
                <div class="conversation-input input-group-lg  d-flex align-items-center justify-content-around p-4">
                    <i class="fa-regular fa-face-smile fa-gray fa-xl"></i>
                    <input type="text" placeholder="Scrivi un messaggio" class="form-control m-5">
                    <i class="fa-solid fa-microphone  fa-gray fa-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="script/data_milestone2.js"></script>
    <script src="script/script.js"></script>
</body>



</html>